{% extends 'keys/it/it_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>IT Dashboard</h1>
        <hr><br>

        <div class="card">
            <div class="card-header bg-secondary text-white"><h2>Active Key</h2></div>
            <div class="card-body">
                {% if active_key %}
                    <b><p>Key:</b> {{ active_key.key }}</p>
                    <b><p>Expiry Date:</b> {{ active_key.expiry_date }}</p>
                {% else %}
                    <p>No active key available.</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="generate_key" class="button generateKey">Generate New Key</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <br>

        <div class="card mt-4">
            <div class="card-header bg-secondary text-white"><h2>Expired Keys</h2></div>
            <div class="card-body">
                {% if expired_keys %}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Key</th>
                                <th>Expiry Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in expired_keys %}
                            <tr>
                                <td>{{ key.key }}</td>
                                <td>{{ key.expiry_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No expired keys available.</p>
                {% endif %}
            </div>
        </div>
        <br>

        <div class="card mt-4">
            <div class="card-header bg-secondary text-white"><h2>Revoked Keys</h2></div>
            <div class="card-body">
                {% if revoked_keys %}
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Key</th>
                                <th>Revoked Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in revoked_keys %}
                            <tr>
                                <td>{{ key.key }}</td>
                                <td>{{ key.revoked_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No revoked keys available.</p>
                {% endif %}
            </div>
        </div>

    </div>
    <br>
{% endblock %}
